// Sidebar pane blocks are injected by nushell/scripts/utils/layout_generator.nu
// from configs/zellij/layouts/fragments/swap_sidebar_*.kdl.
swap_tiled_layout name="basic" {
    ui exact_panes=4 {
        pane split_direction="vertical" {
            __YAZELIX_SWAP_SIDEBAR_OPEN__
            pane 
        }
    }
}

swap_tiled_layout name="stacked" {
    ui min_panes=5 {
        pane split_direction="vertical" {
            __YAZELIX_SWAP_SIDEBAR_OPEN__
            pane stacked=true { children; }
        }
    }
}

swap_tiled_layout name="three_column" {
    ui min_panes=5 {
        pane split_direction="vertical" {
            __YAZELIX_SWAP_SIDEBAR_OPEN__
            pane stacked=true { 
                children; 
                size "40%"
            }
            pane split_direction="vertical" {
                size "40%"
            }
        }
    }
}

swap_tiled_layout name="sidebar_closed" {
    ui min_panes=5 {
        pane split_direction="vertical" {
            __YAZELIX_SWAP_SIDEBAR_CLOSED__
            pane stacked=true { 
                children; 
                size "50%"
            }
            pane split_direction="vertical" {
                size "50%"
            }
        }
    }
}

// swap_tiled_layout name="bottom_terminal" {
//     ui min_panes=5 {
//         pane split_direction="vertical" {
//             pane name="sidebar" {
//                 command "yazi"
//                 size "20%"
//             }
//             pane split_direction="horizontal" {
//                 pane stacked=true { 
//                     children; 
//                     size "70%"
//                 }
//                 pane name="terminal" {
//                     size "30%"
//                 }
//             }
//         }
//     }
// }
